<h2>Prayers</h2>

<table class="table">
  <%= for prayer <- @prayers do %>
    <tr>
      <td><b><%= prayer.id %></b></td>
      <td><%= prayer.body %></td>
      <td><%= link "View", to: gebet_path(@conn, :show, prayer.id) %></td>
    </tr>
  <% end %>
</table>
